@media (max-width:768px) {
    body{
        background-size: 0%;
        width: 100% !important;
    }
	.skill-cards .card{
	width: 100%;
}
.landing-text{
    order: 2 !important;
    margin-bottom: 20%;
    text-align: justify;
}
.landing-text-header h1{
    text-align: center;
}
.landing-image{
    order: 1 !important;
}
.container-fluid {
	width: 98%;
}
    .navbar-nav {
        border: 1px solid #424242;
        height: 90%;
    }
    .nav-item{
        margin-left: auto !important ;
        margin-right: 20px !important;
        margin-top: 10px;
    }
    .section-title-text h1{
        font-size: 2.8rem;
    }


    .about-me-icon-card {
	height: 55px;
    width: 55px;
	font-size: 20px;
    line-height: 55px;
}
.progress-card{
    width: 100%;
}
.about-me-icon-section{
    width: 100% !important;
    justify-content: space-evenly !important;

}
.navbar-nav{
    margin: 0 30px !important;
}
.landing-image{
	margin-top: 25% ;
}
.landing-text{
	margin-top: 0% !important;
}
.nav-button-section{
    margin-top: 25px;
}
.section-title{
	margin-top: 50px !important;
	margin-bottom: 30px !important;
}
.contact-card{
    order: 2 !important;
}
.portfolio-image{
    order: 1 !important;
}
.portfolio-text {
    order: 2 !important;
}
.portfolio-text-footer{
    order: 3 !important;
}
.portfolio-card-right .circle {
  bottom: 98%;
}
.portfolio-card-left .circle{
  bottom: 99%;
}
.portfolio-title-section{
  margin-bottom: 100px !important;
}
.about-me-introduction-text{
    padding: 0 !important;
}
}


@media (max-width:992px) and (min-width:768px) {
	.skill-cards .card{
	width: 48%;
}
}